// @import 'variables.less';
//
// @import 'global.less';
// @import 'blocks/page-header.less';
.page-header{
  background-color: pink;
  padding: 1em;

&__inner{
  background-color: #000;
}

@media(min-width: 480px){
  display: none;
}
}

.mixin{
  .page-header();
}
